/*********************** MIXINS **********************/

/****************************** IMPORTS *********************/

*,
::after,
::before,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

@font-face {
  font-family: "Playfair Display";
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-Bold.woff") format("woff"), url("../fonts/PlayfairDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

/******************** MOST USED STYLES *************************/

.lock {
  overflow: hidden;
}

body {
  background-color: #242B33;
}

p,
a {
  font-family: 'Raleway';
  color: #E7E7E7;
}

.title {
  font-family: 'Playfair Display';
  font-size: 36px;
  line-height: 48px;
  color: #D4C17F;
  font-size: -webkit-calc(24px + 12 * ((100vw - 320px) / 1600));
  font-size: calc(24px + 12 * ((100vw - 320px) / 1600));
}

/********************* FORM *********************/

.main__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 540px;
}

.main__form .main__form__input {
  background: rgba(255, 255, 255, 0.2);
  text-align: center;
  font-family: 'Raleway';
  font-size: 14px;
  line-height: 27px;
  color: #BEBEBE;
  border: none;
}

.main__form .main__form__disclaimer {
  margin-top: 30px;
  font-family: 'Raleway';
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #E7E7E7;
  padding-top: 10px;
}

.main__form .main__form__button {
  margin-top: 30px;
  width: 255px;
  height: 50px;
  left: 1260px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(212, 193, 127, 0.6);
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer;
  text-align: center;
}

.main__form .main__form__button .button-text {
  color: #FFFFFF;
}

.main__form .main__form__button:hover {
  background: #D4C17F;
}

.main__form .form__item-width {
  width: 255px;
  height: 50px;
}

/******************* FORM POPUP ********************/

.wrapperPop {
  position: fixed;
  background: rgba(36, 43, 51, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: -3;
  left: 0;
  top: 0;
  opacity: 0;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.wrapperPop .form-submin_popup {
  position: absolute;
  z-index: 60;
  background: #242B33;
  max-width: 700px;
  width: 80%;
  height: 50vh;
  padding: 0 10px;
  left: 200%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #D4C17F;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  margin: auto;
  margin-top: 25vh;
}

.wrapperPop .form-submin_popup .popupOpen {
  position: fixed;
  left: 49%;
  -webkit-transition: left 0.3 ease;
  -o-transition: left 0.3 ease;
  transition: left 0.3 ease;
}

.wrapperPop .form-submin_popup .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapperPop .form-submin_popup .container .popup-title {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 22px;
  color: #D4C17F;
  text-align: center;
}

.wrapperPop .form-submin_popup .container .popup-subtitle {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
}

.wrapperPop .form-submin_popup .container .popup-close {
  max-width: 255px;
  width: 100%;
  height: 50px;
  left: 1260px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(212, 193, 127, 0.6);
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer;
  color: #FFFFFF;
}

.wrapperPop .form-submin_popup .container .popup-close:hover {
  background: #D4C17F;
}

/********************* MAIN STYLES OF PAGE *****************/

.header-menu {
  width: 100vw;
  background: rgba(36, 43, 51, 0.5);
  position: fixed;
  z-index: 44;
  height: 85px;
  overflow: hidden;
}

.header-menu .header {
  position: fixed;
  width: -webkit-calc(100vw - 30px);
  width: calc(100vw - 30px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  left: 50%;
  margin-left: -webkit-calc((30px - 100vw) / 2);
  margin-left: calc((30px - 100vw) / 2);
  top: 0;
  z-index: 55;
}

.header-menu .header .logo {
  margin-top: 5px;
}

.header-menu .header .menu__burger-menu {
  position: absolute;
  z-index: 55;
  width: 100vw;
  height: 100vh;
  background: #242b33;
  top: 0;
  right: -200%;
  padding-right: 30px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  padding-top: 70px;
  overflow: auto;
  padding-right: 100px;
}

.header-menu .header .menu__burger-menu .menu__list-itemb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 30px;
  font-size: 25px;
}

.header-menu .header .menu__burger-menu.active {
  right: -15px;
}

.header-menu .header .menu__burger-burger {
  cursor: pointer;
  position: absolute;
  width: 40px;
  height: 36px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 57;
  right: 0;
}

.header-menu .header .menu__burger-burger::before,
.header-menu .header .menu__burger-burger::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 1px;
  border-bottom: 2px solid white;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header-menu .header .menu__burger-burger::before {
  top: 0;
}

.header-menu .header .menu__burger-burger::after {
  bottom: 0;
}

.header-menu .header .menu__burger-burger span {
  position: absolute;
  width: 40px;
  height: 1px;
  border-bottom: 2px solid white;
  top: 18px;
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.header-menu .header .menu__burger-burger.active-burger::before {
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
  top: 18px;
}

.header-menu .header .menu__burger-burger.active-burger::after {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  top: 18px;
}

.header-menu .header .menu__burger-burger.active-burger span {
  display: none;
}

.header-menu .header .menu .menu__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.header-menu .header .menu .menu__list a {
  margin-left: 40px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  font-size: -webkit-calc(12px + 4 * ((100vw - 320px) / 1600));
  font-size: calc(12px + 4 * ((100vw - 320px) / 1600));
}

.head__container {
  position: relative;
  background-position: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.head__container .head__title {
  position: absolute;
  margin: 0 auto;
  text-align: center;
  margin-top: 35vh;
  line-height: 64px;
  color: #D4C17F;
  font-size: -webkit-calc(28px + 20 * ((100vw - 320px) / 1600));
  font-size: calc(28px + 20 * ((100vw - 320px) / 1600));
  left: 50%;
  width: -webkit-calc(100vw - 30px);
  width: calc(100vw - 30px);
  margin-left: -webkit-calc((30px - 100vw) / 2);
  margin-left: calc((30px - 100vw) / 2);
}

.head__container .slide__down {
  position: absolute;
  text-align: center;
  margin-top: 70vh;
  left: 50%;
  margin-left: -20px;
}

.head__container .head__contacts {
  position: absolute;
  width: 480px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0 auto;
  margin-top: 90vh;
  left: 50%;
  margin-left: -240px;
  font-size: -webkit-calc(12px + 6 * ((100vw - 320px) / 1600));
  font-size: calc(12px + 6 * ((100vw - 320px) / 1600));
}

.head__container .head__contacts .head-contacts-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.head__container .head__contacts .contacts-img {
  margin-right: 14px;
}

.main__content-container {
  padding: 0 10px;
  max-width: 1100px;
  margin: 0 auto;
  overflow: hidden;
}

.main__content-container .testimonials__wrapper {
  margin-top: 120px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.main__content-container .testimonials__wrapper .testimonials-number {
  position: absolute;
  right: 20px;
}

.main__content-container .testimonials__wrapper .testimonials-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__content-container .testimonials__wrapper .testimonials-content .testimonials-content-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 15px;
}

.main__content-container .testimonials__wrapper .testimonials-content .testimonials-content-item .item-subtitle {
  margin-top: 53px;
  max-width: 169px;
  text-align: center;
}

.main__content-container .testimonials__wrapper .testimonials-content .testimonials-content-item .item-subtitle p {
  text-align: center;
}

.main__content-container .testimonials__wrapper .testimonials-content .testimonials-content-item .last-item {
  margin-right: 0;
}

.main__content-container .testimonials__wrapper .testimonials-content-adaptiv {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__content-container .testimonials__wrapper .testimonials-content-adaptiv .testimonials-content-adaptiv-block1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__content-container .testimonials__wrapper .testimonials-content-adaptiv .testimonials-content-adaptiv-block1 .testimonials-content-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__content-container .testimonials__wrapper .testimonials-content-adaptiv .testimonials-content-adaptiv-block1 .testimonials-content-item .item-subtitle {
  margin-top: 53px;
  width: 200px;
  text-align: center;
}

.main__content-container .testimonials__wrapper .testimonials-content-adaptiv .testimonials-content-adaptiv-block1 .testimonials-content-item .item-subtitle p {
  text-align: center;
}

.main__content-container .testimonials__wrapper .testimonials-content-adaptiv .testimonials-content-adaptiv-block2 {
  padding-top: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__content-container .testimonials__wrapper .testimonials-content-adaptiv .testimonials-content-adaptiv-block2 .testimonials-content-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__content-container .testimonials__wrapper .testimonials-content-adaptiv .testimonials-content-adaptiv-block2 .testimonials-content-item .item-subtitle {
  margin-top: 53px;
  width: 200px;
  text-align: center;
}

.main__content-container .testimonials__wrapper .testimonials-content-adaptiv .testimonials-content-adaptiv-block2 .testimonials-content-item .item-subtitle p {
  text-align: center;
}

.main__content-container .appartments__wrapper {
  margin: 0 10px;
  margin-bottom: 80px;
}

.main__content-container .appartments__wrapper .appartments .appartments__title {
  margin: 120px 0 100px 0;
}

.main__content-container .appartments__wrapper .appartments .appartmens-number {
  position: absolute;
  left: 0;
}

.main__content-container .appartments__wrapper .appartments .appartments__photos {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__content-container .appartments__wrapper .appartments .appartments__photos .photo-container-left {
  padding-right: 30px;
}

.main__content-container .appartments__wrapper .appartments .appartments__photos .appartments__photos-block1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.main__content-container .appartments__wrapper .appartments .appartments__photos .appartments__photos-block1 .photo-container1 {
  position: relative;
}

.main__content-container .appartments__wrapper .appartments .appartments__photos .appartments__photos-block1 .photo-container1 .photo-container::before {
  content: '';
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(36, 43, 51, 0)), to(#242B33));
  background: -webkit-linear-gradient(top, rgba(36, 43, 51, 0) 0%, #242B33 100%);
  background: -o-linear-gradient(top, rgba(36, 43, 51, 0) 0%, #242B33 100%);
  background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242B33 100%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.main__content-container .appartments__wrapper .appartments .appartments__photos .appartments__photos-block1 .photo-container1 .photo-container:hover:before {
  opacity: 0;
}

.main__content-container .appartments__wrapper .appartments .appartments__photos .appartments__photos-block1 .photo-container1 .photo-subtitle {
  position: absolute;
  bottom: 10%;
  left: 10%;
  font-size: -webkit-calc(16px + 8 * ((100vw - 320px) / 1600));
  font-size: calc(16px + 8 * ((100vw - 320px) / 1600));
}

.main__content-container .appartments__wrapper .appartments .appartments__photos .appartments__photos-block1 img {
  width: 100%;
}

.main__content-container .appartments__wrapper .appartments .appartments__photos .appartments__photos-block2 {
  margin-top: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.main__content-container .appartments__wrapper .appartments .appartments__photos .appartments__photos-block2 .photo-container2 {
  position: relative;
}

.main__content-container .appartments__wrapper .appartments .appartments__photos .appartments__photos-block2 .photo-container2 .photo-container::before {
  content: '';
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(36, 43, 51, 0)), to(#242B33));
  background: -webkit-linear-gradient(top, rgba(36, 43, 51, 0) 0%, #242B33 100%);
  background: -o-linear-gradient(top, rgba(36, 43, 51, 0) 0%, #242B33 100%);
  background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242B33 100%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.main__content-container .appartments__wrapper .appartments .appartments__photos .appartments__photos-block2 .photo-container2 .photo-container:hover:before {
  opacity: 0;
}

.main__content-container .appartments__wrapper .appartments .appartments__photos .appartments__photos-block2 .photo-container2 img {
  width: 100%;
}

.main__content-container .appartments__wrapper .appartments .appartments__photos .appartments__photos-block2 .photo-container2 .photo-subtitle {
  position: absolute;
  bottom: 10%;
  left: 10%;
  font-size: -webkit-calc(16px + 8 * ((100vw - 320px) / 1600));
  font-size: calc(16px + 8 * ((100vw - 320px) / 1600));
}

.GetToSeeBlock-container {
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.GetToSeeBlock-container .GetToSeeBlock {
  max-width: 1100px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 20px;
  margin-top: 100px;
  margin-bottom: 180px;
}

.GetToSeeBlock-container .GetToSeeBlock .GetToSeeBlock-content {
  margin-top: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.GetToSeeBlock-container .GetToSeeBlock .GetToSeeBlock-content .GetToSeeBlockt-content .GetToSeeBlockt-subtitle {
  font-family: 'Raleway';
  line-height: 24px;
  color: #FFFFFF;
  font-size: -webkit-calc(12px + 4 * ((100vw - 320px) / 1600));
  font-size: calc(12px + 4 * ((100vw - 320px) / 1600));
  max-width: 500px;
  margin: 0 auto;
}

.video__container {
  position: relative;
  max-width: 720px;
  height: 0;
  padding-bottom: 56.25%;
  margin: 0 auto;
  cursor: pointer;
  border: none;
}

.video__container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 35;
  border: none;
}

.video__container .video__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video__container .video__link .video {
  width: 100%;
  height: 100%;
  background: #ffffff;
  margin: 0 auto;
}

.video__container .video__link .video .video__media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.video__container .video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  border: none;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: transparent;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url("img/videoButton.svg");
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.video__container:hover .video__button {
  background-image: url("img/videoButtonHover.svg");
}

.map__container {
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 180px;
  margin-bottom: 90px;
}

.map__container .map__content {
  max-width: 1100px;
  height: 100%;
  margin: 0 auto;
}

.map__container .map__content .map-title {
  margin-bottom: 100px;
}

.map__container .map__content .map-number {
  position: absolute;
  left: 40px;
  top: 0;
}

.map__container .map__content .map {
  width: 100%;
  height: 360px;
  background-color: #626262;
}

.GetToSeeBlock-container-footer {
  height: 100%;
  overflow: hidden;
}

.GetToSeeBlock-container-footer .GetToSeeBlock {
  max-width: 1100px;
  margin: 90px auto;
  overflow: hidden;
  padding: 0 20px;
  margin-bottom: 180px;
}

.GetToSeeBlock-container-footer .GetToSeeBlock .GetToSeeBlock-content {
  margin-top: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.GetToSeeBlock-container-footer .GetToSeeBlock .GetToSeeBlock-content .main__form-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  width: 100%;
}

.GetToSeeBlock-container-footer .GetToSeeBlock .GetToSeeBlock-content .main__form-footer .main__form__input {
  background: rgba(255, 255, 255, 0.2);
  text-align: center;
  font-family: 'Raleway';
  font-size: 14px;
  line-height: 27px;
  color: #BEBEBE;
  border: none;
}

.GetToSeeBlock-container-footer .GetToSeeBlock .GetToSeeBlock-content .main__form-footer .main__form__disclaimer {
  padding-top: 8px;
  font-family: 'Raleway';
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #E7E7E7;
}

.GetToSeeBlock-container-footer .GetToSeeBlock .GetToSeeBlock-content .main__form-footer .main__form__button {
  width: 255px;
  height: 50px;
  left: 1260px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(212, 193, 127, 0.6);
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer;
  text-align: center;
}

.GetToSeeBlock-container-footer .GetToSeeBlock .GetToSeeBlock-content .main__form-footer .main__form__button .button-text {
  color: #FFFFFF;
}

.GetToSeeBlock-container-footer .GetToSeeBlock .GetToSeeBlock-content .main__form-footer .main__form__button:hover {
  background: #D4C17F;
}

.GetToSeeBlock-container-footer .GetToSeeBlock .GetToSeeBlock-content .main__form-footer .form__item-width {
  width: 255px;
  height: 50px;
}

.GetToSeeBlock-container-footer .GetToSeeBlock .GetToSeeBlock-content-adaptiv {
  margin-top: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
}

.GetToSeeBlock-container-footer .GetToSeeBlock .GetToSeeBlock-content-adaptiv .main__form__disclaimer {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

.GetToSeeBlock-container-footer .GetToSeeBlock .GetToSeeBlock-content-adaptiv .main__form-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  width: 100%;
  margin-top: 20px;
}

.GetToSeeBlock-container-footer .GetToSeeBlock .GetToSeeBlock-content-adaptiv .main__form-footer .main__form__input {
  background: rgba(255, 255, 255, 0.2);
  text-align: center;
  font-family: 'Raleway';
  font-size: 14px;
  line-height: 27px;
  color: #BEBEBE;
  border: none;
  margin-right: 10px;
}

.GetToSeeBlock-container-footer .GetToSeeBlock .GetToSeeBlock-content-adaptiv .main__form-footer .main__form__disclaimer {
  padding-top: 8px;
  font-family: 'Raleway';
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #E7E7E7;
}

.GetToSeeBlock-container-footer .GetToSeeBlock .GetToSeeBlock-content-adaptiv .main__form-footer .main__form__button {
  width: 255px;
  height: 50px;
  left: 1260px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(212, 193, 127, 0.6);
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer;
  text-align: center;
}

.GetToSeeBlock-container-footer .GetToSeeBlock .GetToSeeBlock-content-adaptiv .main__form-footer .main__form__button .button-text {
  color: #FFFFFF;
}

.GetToSeeBlock-container-footer .GetToSeeBlock .GetToSeeBlock-content-adaptiv .main__form-footer .main__form__button:hover {
  background: #D4C17F;
}

.GetToSeeBlock-container-footer .GetToSeeBlock .GetToSeeBlock-content-adaptiv .main__form-footer .form__item-width {
  width: 255px;
  height: 50px;
}

.footer__container {
  background: #2D343C;
}

.footer__container footer {
  max-width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  padding: 70px 10px 50px 10px;
}

.footer__container footer .navigationAndLogo-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__container footer .navigationAndLogo-block .logo {
  margin-top: -10px;
}

.footer__container footer .navigationAndLogo-block .menu {
  margin-left: 40px;
}

.footer__container footer .navigationAndLogo-block .menu .menu__list-item {
  margin-bottom: 15px;
}

.footer__container footer .linksAndContacts-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #FFFFFF;
}

.footer__container footer .linksAndContacts-block .contacts {
  margin-bottom: 5px;
}

.footer__container footer .linksAndContacts-block .contacts .contacts-item {
  margin-bottom: 15px;
}

.footer__container footer .linksAndContacts-block .contacts .contacts-item span {
  color: #D4C17F;
  font-weight: bold;
}

.footer__container footer .linksAndContacts-block .social__links .social-link {
  margin-right: 20px;
}

@media screen and (min-width: 781px) {
  .header-menu .header .menu__burger-menu {
    display: none;
  }

  .header-menu .header .menu__burger-burger {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  .main__content-container .testimonials__wrapper .testimonials-content-adaptiv {
    display: none;
  }
}

@media screen and (min-width: 1100px) {
  .header-menu .header {
    width: 1100px;
    margin-left: -550px;
  }
}

@media screen and (min-width: 1500px) {
  .head__container .head__title {
    width: 1100px;
    margin-left: -550px;
    font-size: 60px;
  }
}

@media screen and (min-width: 1980px) {
  .header-menu .header .menu .menu__list a {
    font-size: 16px;
  }

  .head__container .head__contacts {
    font-size: 16px;
  }
}

@media (max-width: 1100px) {
  .main__form {
    padding-top: 30px;
    margin: 0 auto;
  }

  .GetToSeeBlock-container .GetToSeeBlock .GetToSeeBlock-content .GetToSeeBlockt-content .GetToSeeBlockt-subtitle {
    max-width: 540px;
  }

  .GetToSeeBlock-container .GetToSeeBlock .GetToSeeBlock-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .GetToSeeBlock-container-footer .GetToSeeBlock .GetToSeeBlock-content .main__form-footer {
    padding-top: 30px;
    margin: 0 auto;
  }

  .GetToSeeBlock-container-footer .GetToSeeBlock .GetToSeeBlock-content {
    display: none;
  }

  .GetToSeeBlock-container-footer .GetToSeeBlock .GetToSeeBlock-content-adaptiv .main__form-footer {
    padding-top: 30px;
    margin: 0 auto;
  }

  .GetToSeeBlock-container-footer .GetToSeeBlock .GetToSeeBlock-content-adaptiv {
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .main__content-container .testimonials__wrapper .testimonials-content {
    display: none;
  }

  .main__content-container .appartments__wrapper .appartments .appartments__title {
    margin-bottom: 0;
  }

  .main__content-container .appartments__wrapper .appartments .appartments__photos .photo-container-left {
    padding: 0;
  }

  .main__content-container .appartments__wrapper .appartments .appartments__photos .appartments__photos-block1 .photo-container1 {
    margin-top: 40px;
  }

  .main__content-container .appartments__wrapper .appartments .appartments__photos .appartments__photos-block1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main__content-container .appartments__wrapper .appartments .appartments__photos .appartments__photos-block2 .photo-container2 {
    margin-top: 40px;
  }

  .main__content-container .appartments__wrapper .appartments .appartments__photos .appartments__photos-block2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 800px) {
  .map__container .map__content .map-title {
    margin-bottom: 60px;
  }

  .map__container {
    margin-top: 100px;
  }
}

@media screen and (max-width: 780px) {
  .header-menu .header .menu {
    display: none;
  }
}

@media (max-width: 700px) {
  .wrapperPop .form-submin_popup .container .popup-title {
    font-size: -webkit-calc(24px + 12 * ((100vw - 320px) / 1600));
    font-size: calc(24px + 12 * ((100vw - 320px) / 1600));
  }
}

@media (max-width: 600px) {
  .main__form .main__form__input {
    margin-top: 20px;
  }

  .main__form .form__item-width {
    width: 240px;
  }

  .main__form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }

  .GetToSeeBlock-container .GetToSeeBlock {
    margin: 70px auto;
  }

  .GetToSeeBlock-container .GetToSeeBlock .GetToSeeBlock-content {
    margin-top: 20px;
  }

  .map__container .map__content .map-title {
    margin-bottom: 40px;
  }

  .map__container .map__content .map {
    margin-top: 0px;
  }

  .map__container {
    margin-top: 70px;
  }

  .GetToSeeBlock-container-footer .GetToSeeBlock .GetToSeeBlock-title {
    margin-bottom: 0px;
  }

  .GetToSeeBlock-container-footer .GetToSeeBlock {
    margin: 70px auto;
  }

  .GetToSeeBlock-container-footer .GetToSeeBlock .GetToSeeBlock-content .main__form-footer .main__form__input {
    margin-top: 20px;
  }

  .GetToSeeBlock-container-footer .GetToSeeBlock .GetToSeeBlock-content .main__form-footer .main__form__button {
    margin-top: 20px;
  }

  .GetToSeeBlock-container-footer .GetToSeeBlock .GetToSeeBlock-content .main__form-footer .form__item-width {
    width: 240px;
  }

  .GetToSeeBlock-container-footer .GetToSeeBlock .GetToSeeBlock-content .main__form-footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-top: 0;
    padding: 0;
  }

  .GetToSeeBlock-container-footer .GetToSeeBlock .GetToSeeBlock-content-adaptiv {
    margin-top: 20px;
  }

  .GetToSeeBlock-container-footer .GetToSeeBlock .GetToSeeBlock-content-adaptiv .main__form-footer .main__form__input {
    margin-top: 20px;
  }

  .GetToSeeBlock-container-footer .GetToSeeBlock .GetToSeeBlock-content-adaptiv .main__form-footer .main__form__input {
    margin-right: 0px;
  }

  .GetToSeeBlock-container-footer .GetToSeeBlock .GetToSeeBlock-content-adaptiv .main__form-footer .main__form__button {
    margin-top: 20px;
    margin-left: 0;
    padding-left: 0px;
  }

  .GetToSeeBlock-container-footer .GetToSeeBlock .GetToSeeBlock-content-adaptiv .main__form-footer .form__item-width {
    width: 240px;
  }

  .GetToSeeBlock-container-footer .GetToSeeBlock .GetToSeeBlock-content-adaptiv .main__form-footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-top: 0;
    padding: 0;
  }

  .footer__container footer .navigationAndLogo-block .logo {
    margin-bottom: 30px;
  }

  .footer__container footer .navigationAndLogo-block .menu {
    margin: 0;
  }

  .footer__container footer .navigationAndLogo-block .menu {
    margin-bottom: 30px;
  }

  .footer__container footer .navigationAndLogo-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .footer__container footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 260px;
  }
}

@media screen and (max-width: 550px) {
  .head__container .head__contacts .head-contacts-block .contacts__geo-link {
    margin-bottom: 10px;
  }

  .head__container .head__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 400px) {
  .main__content-container .testimonials__wrapper .testimonials-content .testimonials-content-item .item-subtitle {
    margin-top: 20px;
  }

  .main__content-container .testimonials__wrapper .testimonials-content .testimonials-content-item {
    margin-top: 30px;
  }

  .main__content-container .testimonials__wrapper .testimonials-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    display: block;
  }

  .main__content-container .testimonials__wrapper .testimonials-content-adaptiv {
    display: none;
  }

  .main__content-container .testimonials__wrapper {
    margin-top: 50px;
  }
}